<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost/ec</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password"></property>
      <property name="show_sql">false</property>
      <property name="hibernate.format_sql">true</property>
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      <property name="hibernate.generate_statistics">false</property>
      
      <property name="hibernate.c3p0.min_size">5</property>
      <property name="hibernate.c3p0.max_size">20</property>
      <property name="hibernate.c3p0.timeout">30</property>
      <property name="hibernate.c3p0.max_statements">50</property>
      <property name="hibernate.c3p0.idle_test_period">3000</property>
      
      <mapping class="easyquote.modelo.Operador"/>
      <mapping class="easyquote.modelo.GrupoOperador" />
      <mapping class="easyquote.modelo.FuncionalidadeGrupoOperador" />
      <mapping class="easyquote.modelo.Configuracao" />
      <mapping class="easyquote.modelo.Aditivo" />
      <mapping class="easyquote.modelo.Contrato" />
      <mapping class="easyquote.modelo.Cotacao" />
      <mapping class="easyquote.modelo.Pagamento" />
      <mapping class="easyquote.modelo.Pedido" />
      <mapping class="easyquote.modelo.Principal" />
      <mapping class="easyquote.modelo.Produto" />
      <mapping class="easyquote.modelo.ListaCotacao" />
      <mapping class="easyquote.modelo.Setor" />
      <mapping class="easyquote.modelo.Status" />
	  <mapping class="easyquote.modelo.TipoContrato" />
	  <mapping class="easyquote.modelo.Fornecedor" />
	  <mapping class="easyquote.modelo.Comprador" />
	  <mapping class="easyquote.modelo.ListaCotacaoFornecedor" />
	  <mapping class="easyquote.modelo.PesquisaPedido" />
	  <mapping class="easyquote.modelo.Seguimento" />
	  <mapping class="easyquote.modelo.StatusPedido" />
	  <mapping class="easyquote.modelo.Indices" />
	  
</session-factory>
</hibernate-configuration>